name: Build and Publish NuGet

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup .NET SDK
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0

    - name: Pack NuGet package
      working-directory: ./Luxoria.Algorithm.BrisqueScore
      run: |
        mkdir -Force artifacts
        dotnet pack .\Luxoria.Algorithm.BrisqueScore\Luxoria.Algorithm.BrisqueScore.csproj --configuration Release --output .\artifacts

    - name: Upload NuGet package
      uses: actions/upload-artifact@v4
      with:
        name: Luxoria.Algorithm.BrisqueScore
        path: ./Luxoria.Algorithm.BrisqueScore/artifacts/*.nupkg
